Repository OpenChemistry/avogadrolibs, pull requests merged in 2022-05, with the labels that each got.

#882 Translations update from Hosted Weblate
  i18n/af.po
  i18n/ar.po
  i18n/bg.po
  i18n/bs.po
  i18n/ca.po
  i18n/ca@valencia.po
  i18n/cs.po
  i18n/da.po
  i18n/de.po
  i18n/el.po
  i18n/en_AU.po
  i18n/en_CA.po
  i18n/en_GB.po
  i18n/eo.po
  i18n/es.po
  i18n/et.po
  i18n/eu.po
  i18n/fa.po
  i18n/fi.po
  i18n/fr.po
  i18n/fr_CA.po
  i18n/gl.po
  i18n/he.po
  i18n/hi.po
  i18n/hr.po
  i18n/hu.po
  i18n/id.po
  i18n/it.po
  i18n/ja.po
  i18n/ka.po
  i18n/kn.po
  i18n/ko.po
  i18n/ms.po
  i18n/nb.po
  i18n/nl.po
  i18n/oc.po
  i18n/pl.po
  i18n/pt_BR.po
  i18n/ro.po
  i18n/ru.po
  i18n/sa.po
  i18n/sk.po
  i18n/sl.po
  i18n/sq.po
  i18n/sr.po
  i18n/sv.po
  i18n/ta.po
  i18n/te.po
  i18n/th.po
  i18n/tr.po
  i18n/ug.po
  i18n/uk.po
  i18n/vi.po
  i18n/zh_CN.po
  i18n/zh_TW.po
Labels: i18n

#888 Add tests using various sanitizers
  .github/workflows/build_cmake.yml
  cmake/BuildType.cmake
  cmake/CompilerFlags.cmake
Labels: build

#885 Use signed mac package
  .github/workflows/build_cmake.yml
Labels: build

#892 Revert "Use signed mac package"
  .github/workflows/build_cmake.yml
Labels: build

#893 Make sure to sign and notarize the Mac DMG after build
  .github/workflows/build_cmake.yml
Labels: build

#894 Update atomic masses
  avogadro/core/elementdata.h
Labels: bug

#896 Fix NeighborPerceiver not handling coordinates below the minimum
  avogadro/core/neighborperceiver.cpp
  avogadro/core/neighborperceiver.h
  tests/core/CMakeLists.txt
  tests/core/neighborperceivertest.cpp
Labels: bug

#898 Render close contacts
  avogadro/qtplugins/CMakeLists.txt
  avogadro/qtplugins/closecontacts/CMakeLists.txt
  avogadro/qtplugins/closecontacts/closecontacts.cpp
  avogadro/qtplugins/closecontacts/closecontacts.h
  avogadro/rendering/CMakeLists.txt
  avogadro/rendering/dashedline_fs.glsl
  avogadro/rendering/dashedline_vs.glsl
  avogadro/rendering/dashedlinegeometry.cpp
  avogadro/rendering/dashedlinegeometry.h
Labels: enhancement, rendering

#899 Create new layer from selection
  avogadro/qtgui/layermodel.cpp
  avogadro/qtgui/molecule.h
  avogadro/qtgui/rwlayermanager.cpp
  avogadro/qtplugins/select/select.cpp
  avogadro/qtplugins/select/select.h
  avogadro/qtplugins/selectiontool/selectiontool.cpp
  avogadro/qtplugins/selectiontool/selectiontool.h
  avogadro/qtplugins/selectiontool/selectiontoolwidget.cpp
  avogadro/qtplugins/selectiontool/selectiontoolwidget.h
Labels: enhancement

#909 Port Insert DNA/RNA dialog from Avogadro1
  avogadro/qtplugins/CMakeLists.txt
  avogadro/qtplugins/insertdna/CMakeLists.txt
  avogadro/qtplugins/insertdna/insertdna.cpp
  avogadro/qtplugins/insertdna/insertdna.h
  avogadro/qtplugins/insertdna/insertdnadialog.ui
  avogadro/qtplugins/openbabel/obfileformat.cpp
Labels: enhancement
