Repository OpenChemistry/avogadrolibs, pull requests merged in 2024-09, with the labels that each got.

#1707 Switch import format default back to CJSON if found
  avogadro/qtplugins/openbabel/openbabel.cpp
Labels: bug

#1708 Ensure MacOS binary packages are built
  .github/workflows/build_cmake.yml
  .github/workflows/build_wheels.yml
  scripts/github-actions/repair-linux.sh
Labels: build

#1711 Try to build Mac DMG more reliably
  .github/workflows/build_cmake.yml
Labels: build

#1672 Added fog as rendering options.
  avogadro/rendering/glrenderer.cpp
  avogadro/rendering/solid_first_fs.glsl
  avogadro/rendering/solidpipeline.cpp
  avogadro/rendering/solidpipeline.h
Labels: rendering

#1718 Make sure the measure tool has a good contrast with background color
  avogadro/qtplugins/measuretool/measuretool.cpp
Labels: bug

#1719 Turn off Molequeue builds for the GitHub actions
  .github/workflows/build_cmake.yml
  .github/workflows/build_m1.yml
  .github/workflows/build_qt6.yml
Labels: build

#1720 Fix XYZ trajectories - prevent final frame with 0,0,0 coords
  avogadro/io/xyzformat.cpp
Labels: bug
